/* RESET STYLI DLA NASZEJ NAWIGACJI */
html, body, nav, ul, li, a { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
nav { display: block; }
/* GŁÓWNE USTAWIENIA NASZEJ STRONY */
body { background:#f6f6f6; width:960px; margin:50px auto; font-family:Arial, Verdana, Tahoma, Sans-serif; font-size:14px; color:#f6f6f6; }
a {float:left;  color:#fff; text-decoration:none; }
ul, ul li {float:left; list-style:none; }
/* NAWIGACJA */
nav { background:#343434; width:960px; height:55px; float:left; text-transform:uppercase; }
nav li { line-height:55px; }
nav li a { float:left; padding:0 10px; }
nav li:hover a { color:#343434; background:#f1c40f; }
/* SUBMENU */
nav ul li:hover ul.submenu { display:block; }
nav ul li ul.submenu { background:#f1c40f; float:none; position:absolute; z-index:11; margin-top:55px; display:none; padding:5px; text-transform:capitalize; }
nav ul li ul.submenu li { display:block; float:none; font-size:12px; }
nav ul li ul.submenu li a { background:none; display:block; color:#343434; min-width:200px; line-height:23px; padding:5px; }
nav ul li ul.submenu li a:hover { background:rgb(255,255,255); color:#202020; }

#menu ul li{
	float: none;
}

.slide-out-div {
	padding: 5px;
	width: 250px;
	background: #f2f2f2;
	border: #395A9C 2px solid;
	cursor: pointer;
}

#content{    

}

a{
    text-decoration: none;
}

#logo{
    background-color: red;
    padding: 10px;
    #background-image: url('D:/Web/blog/blog.jpeg');
}

#tresc{
    background-color: grey;
    float: left; 
    width: 70%;
    #height: 70%;
    text-align: center;
    position: relative;
    left: 5%;
    display: table-cell;
    
}

#menu{
    background-color: green; 
    float: right;
    width: 20%;
    display: table-cell;
    border-radius: 4px; 
    
}

#stopka{
    clear: both; 
    padding: 20px;
    background-color:#343434;
    border-radius: 4px;  
    line-height: 20px;

}

#stopka a{
	margin:0;
}

#high{
    text-align: center;
}

#down{
    text-align: center;  
}

#menu_inline{   
      
}

#login{
    text-align: center;
}